beautifulsoup4==4.7.1
cachetools==3.1.0
certifi==2018.11.29
chardet==3.0.4
Django==2.1.7
django-appconf==1.0.3
django-debug-toolbar==1.4
django-image-cropping==1.2.0
django-storages==1.7.1
djangorestframework==3.9.1
easy-thumbnails==2.6
google-api-core==1.8.0
google-auth==1.6.3
google-cloud-core==0.29.1
google-cloud-storage==1.14.0
google-resumable-media==0.3.2
googleapis-common-protos==1.5.8
idna==2.8
Pillow==5.4.1
protobuf==3.7.0
psycopg2==2.7.7
pyasn1==0.4.5
pyasn1-modules==0.2.4
python-http-client==3.1.0
pytz==2018.9
requests==2.21.0
rsa==4.0
sendgrid==6.0.4
sentry-sdk==0.7.3
six==1.12.0
soupsieve==1.8
sqlparse==0.1.19
urllib3==1.25.2
