#!/bin/bash
export DJANGO_SECRET_KEY='{{ django_secret_key }}'
export DB_NAME='{{ db_name }}'
export DB_USER='{{ db_user }}'
export DB_PASSWORD='{{ db_password }}'
export DJANGO_SETTINGS_MODULE='{{ django_settings_file }}'
export DB_HOST='{{ db_host }}'
export SENTRY_PUBLIC_KEY='{{ sentry_public_key }}'
export SENTRY_PROJECT_ID='{{ sentry_project_id }}'
export PROJECT_ID='{{ project_id }}'