{% load static %}
<!DOCTYPE html>
<html lang="en">
<link href="https://fonts.googleapis.com/css?family=Covered+By+Your+Grace&display=swap" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Shame on you! 🐨</title>
</head>
<body>
<div style="width:400px;height:400px;margin: 100px auto;border-radius:200px;background-image: url({% static 'dictionary/img/ak.jpg' %}); background-position: -100px -100px"></div>
<div style="text-align: center; font-size: 40px; font-family: 'Covered By Your Grace', cursive;">You can't unsubscribe from that mail list 😡</div>
</body>
</html>